<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" style="{{#if devoured}}display: none{{else}}display: block{{/if}}"">
		{{#if devoured}}Eat more{{else}}Devour it!{{/if}}
	</button>

</li>
