<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" style="{{#if devoured}}display: none{{else}}{{/if}}">
		{{#if devoured}}{{else}}Devour it!{{/if}}
	</button>

</li>
